.App{
  text-align: center;
}
.container{
  text-align: center;
  color: #fff;
  background-color:salmon;
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  font-size:25px;
}